

.kep{
    height: 70px;
    width: 170px;
}


.kep:hover{
    border: solid 5px green;
    border-radius: 3px;
}

.főoldal{
    background-color: black;
}

.hatter{
    background-color: black;
}

.span:hover{
    color: rgb(28, 211, 28);
    text-decoration: underline;
    font-weight: bold;
    text-transform: uppercase;
}

.buttonbg{
   background-color: rgb(28, 211, 28);
}
.span{
    font-size: large;
}

.nyeremeny{
    color: white;
    background-color: gray;
    border-radius: 10px;
    font-size: large;
}

.nyeremeny:hover{
    text-transform: uppercase;
   padding: 3px;
   color: rgb(28, 211, 28);
}

.fokepek:hover{
    border: solid 5px white;
    border-radius: 10px;
}


.csik{
    font-family: sans-serif;
margin: 100px auto;
text-align: center;
font-size: 40px;
max-width: 600px;
position:relative;

}


.csik:before{
    content: "";
display:block;
width: 140px;
height:2px;
background: rgb(28, 211, 28);
position: absolute;
left: 0;
top: 50%;
z-index: -2;
}



.csik:after{
    content: "";
    display:block;
    width: 140px;
    height:2px;
    background:rgb(28, 211, 28);
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -2;
}

.csikszin{
    background:black;
}


.video{
    width: 50%;
}

.jelentkezz{
    text-align: center;
    background-color: rgb(28, 211, 28);
    width: 30%;
    border-radius: 5px;
    font-size: smaller;
}


.jelentkezesgomb{
    color: white;
    text-decoration: none;
}

.jelentkezz:hover{
    background-color: green;
}

.hirlink:hover{
    text-transform: uppercase;
    
}

.kartya{
background-color: black;
color: rgb(28, 211, 28);
}

.kartya:hover{
    background-color: rgb(28, 211, 28);
    border: 3px solid rgb(28, 211, 28);
    color: black;font-weight: bold;
    text-decoration: underline;
    text-decoration-style: double;
}

a{
    text-decoration: none;
}


.cimsor1{
    color: rgb(28, 211, 28);
    font-weight: bold;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: rgb(28, 211, 28);
  }



  .zenekartya{
      background-color: black;
      color: rgb(28, 211, 28);
  }


  .zenekartya:hover{
      background-color: rgb(28, 211, 28);
      color: black;
      font-size: larger;
      font-weight: bold;
  }



  .footer{
      height: 170px;
      
  }


  .footerkepfacebook:hover{
    border: 3px solid blue;
    border-radius: 10px;
  }

  .footerkepinsta:hover{
    border: 3px solid rgb(165, 121, 39);
    border-radius: 10px;
  }

  .footerkeptwitter:hover{
    border: 3px solid rgb(30, 138, 201);
    border-radius: 10px;
  }

  .footerkepYT:hover{
    border: 3px solid red;
    border-radius: 10px;
  }
  

  .forraslink{
    color: black;
    padding-left: 30px;
  }
  .forraslink:hover{
    border: 3px solid black;
    border-radius: 10px;
    color: rgb(28, 211, 28);
  
  }


  .zenekartyak2{
      background-color: black;
  }

  .zeneszovegszin{
      color: rgb(28, 211, 28);
      font-weight: bold;
  }

  .zenekepek{
      height: 400px;
      margin: auto;
  }


  .zenelink:hover{
    text-decoration: underline;
  }



  #zozolink{
    font-size: x-large;
    color: white;
    text-transform: uppercase;
    background-color: black;
}
  #zozolink:hover{
    border: 3px solid rgb(28, 211, 28);
    border-radius: 10px;
    color: rgb(28, 211, 28);
  }


  .gamingmonsterkartya{
    background-color: black;
  }

  .gamingmonsterkartyatext{
      background-color: white;
  }

  .gamingtextlink:hover{
      text-decoration: underline;
      font-weight: bold;
      font-size: larger;
  }